.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: linear-gradient(159deg,rgb(45,45,58) 0%,rgb(43,43,53) 100%);
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: center center;
  cursor: pointer;
}

.card:hover {

  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 24px;
  margin: 0 0 8px;
}

.card-description {
  font-size: 16px;
  margin: 0 0 16px;
}

.card-link {
  color: #01be96;
  font-weight: bold;
  text-decoration: none;
}
